.project-card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card__private {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    padding: 0px 0.8rem;
}
.project-card__date {
    font-size: 0.7rem;
}
