.task-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.task-container .task-card {
    margin: 1rem 1.5rem;
}

#create-button {
    margin-bottom: 1rem;
}

.control-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filters-container select{
    margin: 4rem; 
}
