.project-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.project-header button {
    margin-left: 2rem;
}

.project-header h1 {
    margin: 0;
}

.user-list {
    margin-bottom: 1rem;
}

.project-private {
    border-radius: 4px;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.2);
    justify-self: end;
}

.user-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.user-row span {
    margin-right: 1rem;
}
