.info-bar {
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.task-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

.task-header h1 {
    margin: 0;
}

.task-edit-button {
    margin-left: 2rem;
}

.ant-form-item {
    margin-bottom: 0;
}

hr {
    margin-bottom: 0.3rem;   
    margin-top: 0.3rem;
}

.comment-section {
    margin-bottom: 1rem;
    margin-top: 1rem;
}




/*.task-edit-button {*/
/*   align-self: center; */
/*}*/